{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
    <h1 class="display-1 text-center">FitSupply</h1>
    <p>Es una plataforma web para la administración de suplementos deportivos de calidad de manera rápida y segura. El proyecto busca ofrecer una experiencia intuitiva y confiable, donde los usuarios puedan registrar los suplemento por categorías (proteínas, creatinas, aminoácidos, vitaminas, etc.), acceder a información detallada de cada producto.</p>
</section>
</main>

{% endblock %}