{% extends "base.html" %}

{% block content %}
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <h2 class="text-center text-danger">🚫 Desactivar Proveedor Empresa</h2>
                <p class="text-center">
                    ¿Estás seguro de que deseas <strong>desactivar</strong> al Proveedor
                    <strong>{{ proveedor.razon_social}}</strong> con NIT <strong>{{ proveedor.nit }}</strong>?
                </p>

                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'proveedores_menu' %}" class="btn btn-secondary">↩️ Cancelar</a>
                        <button type="submit" class="btn btn-danger">🚫 Confirmar Desactivación</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}